
.right{
    padding-top: 6%;
    width:80%;
    margin-left: 20%;
    height: 100vh;
    background-color:white;
    /* background-color: #a1a0a0; */
}
.right h3{
    text-align: center;
    font-weight: 600;
}
.course_table{
    width:90%;
    /* margin-top:1.5rem; */
    text-align: center;
    /* background-color: rgb(40, 5, 5); */
}
.course_table table{
    width:100%;
    /* background-color: rgb(237, 229, 229); */
    align-items: center;
}
.course_table table th{
    height:2.5rem;
    background-color: rgb(237, 229, 229);
}
.course_table table tr td button{
    width:30%;
    height: 20%;
}
.addCbtn{
    /* margin-top:2px; */
    margin-left: 70%;
    position: fixed;
    width:40px;
    height:40px;
    background-color: rgb(238, 52, 52);
    color:white;
    border-radius: 50px;
    font-size: xx-large;
    border: none;
    cursor: pointer;
}
.addCbtn a{
    color:white;
}
.addCourse{
    width:40rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.addCourse form{
    padding:2%;
    background-color: #fff;
    border-radius: 10px;
    height:28rem;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: column;
    width:100%;
}
.row input{
    height:2rem;
}
.row textarea{
    height:4rem;
}
.btns{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.btns button{
width:5rem;
height: 2rem;
padding: 2%;
cursor: pointer;
border:none;
color: white;
border-radius: 4px;
}
.btns a{color: white;}
#addCourse{
    background-color: var(--secondary-color);
}
#closebtn{
    background-color: gray;
}
#addCourse:hover{
   background-color: rgb(85, 227, 85);
}
#closebtn:hover{
    background-color: rgb(222, 28, 28);
}
